
<% include header %>

<% include alerts %>

<div class="row">

	<div id="map-outer"class="col-md-12 col-sm-12">

		<div id='map'></div>


		<script>
		var mapData = <%- mapData %>;
		var breweryArray = mapData.data;
		L.mapbox.accessToken = 'pk.eyJ1Ijoibmlja2xhdGhlIiwiYSI6InhteXZpY1kifQ.7auBYdWGL5ttVM1kbrn93Q';
		// L.mapbox.accessToken = process.env.map_token;

		var map = L.mapbox.map('map', 'nicklathe.506fa65a', {
			scrollWheelZoom: false
		});

		// Trying out routing //

		var pointA = new L.LatLng(47.6670226, -122.3839464);
		var pointB = new L.LatLng(47.6591056, -122.3651983);
		var pointC = new L.LatLng(47.6673244, -122.3741648)
		var pointList = [pointA, pointB, pointC];

		var firstpolyline = new L.polyline(pointList, {
			color: 'red',
            weight: 10,
            opacity: .7,
            dashArray: '20,15',
            smoothFactor: 100

		});
		
		firstpolyline.addTo(map);

		map.fitBounds(firstpolyline.getBounds());

		//////////////

		$(function(){
			$(".btn").on("click", function(){

				removeBrewery();

				if(this.id === "micro"){
					displayBrewery("micro");
					// alert("this is micro");
					return;
				} else if(this.id === "nano"){
					displayBrewery("nano");
					// alert("this is nano");
					return;
				} else if(this.id === "brewpub"){
					displayBrewery("brewpub");
					// alert("this is brewpub");
					return;
				} else if(this.id === "all"){
					displayAll();
				}
			});
		});

		// Global variable set for new layer
		var markers = new L.FeatureGroup();


		// Displays breweries filtered
		function displayBrewery(pubType){
			for(var i = 0; i < breweryArray.length; i++){
				if(breweryArray[i].locationType === pubType){

					var marker = L.marker([breweryArray[i].latitude, breweryArray[i].longitude])
				    .bindPopup(breweryArray[i].brewery.name + "<br>"
				    	+ "<form method='post' action='/list'>" 
				    	+ "<input type='hidden' name='brewery_name' value='" + breweryArray[i].brewery.name + "'>"
				    	// + "<button type='submit' data-name='" + breweryArray[i].brewery + "' class='addButton'>Add to List</button>")
				    	+ "<button type='submit' class='btn btn-primary btn-sm addButton'>Add to List</button>"
				    	+ "</form>"
				    	+ "<br>"
				    	// + "<form method='post' action='/brewery'>"
				    	// + "<input type='hidden' name='id' value='" + breweryArray[i].brewery.id + "'>"
				    	// + "<button type='submit' class='btn btn-primary btn-sm infoButton'>More info</button>"
				    	// + "</form>"
				    	+ "<a href='/brewery/" + breweryArray[i].brewery.id + "'>"
				    	+ "<button type='submit' class='btn btn-primary btn-sm infoButton'>More Info</button>"
				    	+ "</a>")
				    markers.addLayer(marker);
				};
			};
			map.addLayer(markers);
		};

		// Removes layer to reset for next clicked layer
		function removeBrewery(){
			markers.clearLayers();
		};

		// Displays all breweries with clicked "Show All Locattions" button
		function displayAll(){
			for(var i = 0; i < breweryArray.length; i++){
				var marker = L.marker([breweryArray[i].latitude, breweryArray[i].longitude])
	    		.bindPopup(breweryArray[i].brewery.name + "<br>"
		    	+ "<form method='post' action='/list'>" 
		    	+ "<input type='hidden' name='brewery_name' value='" + breweryArray[i].brewery.name + "'>"
		    	// + "<button type='submit' data-name='" + breweryArray[i].brewery + "' class='addButton'>Add to List</button>")
		    	+ "<button type='submit' class='btn btn-primary btn-sm addButton'>Add to List</button>"
		    	+ "</form>"
		    	+ "<br>"
		    	// + "<form method='post' action='/brewery'>"
		    	// + "<input type='hidden' name='id' value='" + breweryArray[i].brewery.id + "'>"
		    	// + "<button type='submit' class='btn btn-primary btn-sm infoButton'>More info</button>"
		    	// + "</form>"
		    	+ "<a href='/brewery/" + breweryArray[i].brewery.id + "'>"
		    	+ "<button type='submit' class='btn btn-primary btn-sm infoButton'>More Info</button>"
		    	+ "</a>")
		    	markers.addLayer(marker);
		    };
		    map.addLayer(markers);
		};

		</script>
	</div>

	<div id="button-row"class="col-md-12 col-sm-12 text-center">
		<div class="btn-group" role="group" aria-label="blank">
		  	<button id="micro" type="button" class="map-btn btn btn-default">Show Micro Breweries</button>
		  	<button id="nano" type="button" class="map-btn btn btn-default">Show Nano Breweries</button>
		  	<button id="brewpub" type="button" class="map-btn btn btn-default">Show Brew Pubs</button>
		  	<button id="all" type="button" class="map-btn btn btn-default">Show All Locations</button>	
		</div>	
	</div>

	<div id="brew-select-outer" class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
		<select id="route-dropdown" class="form-control">
			<option>Fremont</option>
			<option>Peddler</option>
			<option>Elysian</option>
			<option>Hales Ales</option>
			<option>Martime</option>
		</select>

		<select id="route-dropdown" class="form-control">
			<option>Fremont</option>
			<option>Peddler</option>
			<option>Elysian</option>
			<option>Hales Ales</option>
			<option>Martime</option>
		</select>

		<select id="route-dropdown" class="form-control">
			<option>Fremont</option>
			<option>Peddler</option>
			<option>Elysian</option>
			<option>Hales Ales</option>
			<option>Martime</option>
		</select>
	</div>
</div>

<% include footer %>