
<% include header %>

<% include alerts %>



<div class="row">
	<div class="fp-bumper"></div>
	<div id="map-outer"class="col-md-12 col-sm-12">
		<div id='map'></div>

		<script>
		var mapData = <%- mapData %>;
		var breweryArray = mapData.data;
		// console.log(breweryArray);
		L.mapbox.accessToken = 'pk.eyJ1Ijoibmlja2xhdGhlIiwiYSI6InhteXZpY1kifQ.7auBYdWGL5ttVM1kbrn93Q';
		// L.mapbox.accessToken = process.env.map_token;
		var map,
			dir;

		var map = L.mapbox.map('map', 'nicklathe.506fa65a', {
			scrollWheelZoom: false
			})

		dir = MQ.routing.directions();

		for(var i = 0; i < breweryArray.length; i++){
			// console.log(breweryArray[i].brewery.name);

		 L.marker([breweryArray[i].latitude, breweryArray[i].longitude])
	    .bindPopup(breweryArray[i].brewery.name + "<br>"
	    	+ "<form method='post' action='/list'>" 
	    	+ "<input type='hidden' name='brewery_name' value='" + breweryArray[i].brewery.name + "'>"
	    	// + "<button type='submit' data-name='" + breweryArray[i].brewery + "' class='addButton'>Add to List</button>")
	    	+ "<button type='submit' class='btn btn-primary btn-sm addButton'>Add to List</button>"
	    	+ "</form>"
	    	+ "<br>"
	    	// + "<form method='post' action='/brewery'>"
	    	// + "<input type='hidden' name='id' value='" + breweryArray[i].brewery.id + "'>"
	    	// + "<button type='submit' class='btn btn-primary btn-sm infoButton'>More info</button>"
	    	// + "</form>"
	    	+ "<a href='/brewery/" + breweryArray[i].brewery.id + "'>"
	    	+ "<button type='submit' class='btn btn-primary btn-sm infoButton'>More Info</button>"
	    	+ "</a>")

	    .addTo(map);

		};

		</script>
	</div>
</div>

<% include footer %>