body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: ##F5F5F5;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: #000;
}

#footer-p {
	padding-left: 10px;
	padding-top: 15px;
}

#map {
	height: 550px;
	width: 100%;
	margin: 0;
	/*padding-bottom: 50px;*/
}

#login-outer {
	padding-bottom: 100px;
}

.header {
	background-color: black;
	margin-top: 0px;
}

.navbar-default {
	background-color: #000;
	margin: 0;
	height: 100px;
	border-radius: 0;
	border: none;
/*	position: fixed;
	top: 0;*/
	width: 100%;
}

a.navbar-brand {
	color: #fff;
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	padding-top: 20px; 
}

a#navlink {
	font-family:'Raleway', sans-serif;
	font-weight: 300;

}

.breadcrumb {
	background-color: #fff;
}

li {
	color: #000;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

h1.fp-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	padding-top: 100px;
	padding-bottom: 50px;
}

h2 {
/*	padding-top: 50px;
	padding-bottom: 50px;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

h5 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	padding-left: 250px;
}

#user-greeting {
	padding-left: 20px;
}

.fp-bumper {
	padding-top: 100px;
	padding-bottom: 100px;
}

.main-text {
	height: 300px;
}

img {
	position: left;
}

img.main-pic {
	height: 300px;
	width: 350px;
}

#list-outer {
	padding-bottom: 100px;
}

.map-btn {
	width: 200px;
	border-radius: 0;
	background-color: #000;
	color: #fff;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.map-btn-right {
	border-bottom-right-radius: 5px;
}

.map-btn-left {
	border-bottom-left-radius: 5px;
}

a.fav-list {
	font-size: 20px;
	color: #000;
	padding: 10px;
}

h1#fav-list-h1 {
	padding-bottom: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.input-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.input-mid-top {
	border-radius: 0;
	border-top: none;
	border-bottom: none;
}

.input-mid-btm {
	border-radius: 0;
	border-bottom: none;
}

.input-btm {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}

.sign-log-btn {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.log-input-btm {
	border-top: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}

.custom-popup .leaflet-popup-tip-container {
  	width: 30px;
  	height: 15px;
}

.custom-popup .leaflet-popup-content-wrapper {
	background: #2c3e50;
  	color: #fff;
  	font-size: 16px;
  	line-height: 24px;
  	/*text-align: center;*/
}

.custom-popup .leaflet-popup-tip {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #2c3e50;
}

.btn-group {
	min-width: 170px;
	border-radius: 0;
}

i.fa {
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
}

#about-h1 {
	padding-top: 50px;
	padding-bottom: 50px;
}

#social-icons {
	padding-top: 50px;
}

#portrait {
	height: 200px;
	width: 200px;
	border-radius: 200px;
}

#about {
	padding-top: 50px;
}

@media (max-width: 600px) {
	
	#map {
		height: 300px;
	}

	a.navbar-brand {
		font-size: 20px;
		padding-left: 0;
		padding-top: 5px;
	}

	h1.fp-heading {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	p {
		margin-left: 20px;
		margin-right: 20px;
	}
}

